<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niuke.community.dao.DiscussPostMapper">
    <!-- 1. 通过 xml 实现sql -->

    <!-- 复用查询字段 -->
    <sql id="selectFields">
        id, user_id, title, content, type, status, create_time, comment_count, score
    </sql>

    <!-- 复用插入字段 -->
    <sql id="insertFields">
        user_id, title, content, type, status, create_time, comment_count, score
    </sql>
    <!-- user_id是字段，userId是方法参数 -->
    <select id="selectDiscussPosts" resultType="DiscussPost">
        select <include refid="selectFields"></include>
        from discuss_post
        where status !=2   <!-- 状态码不为拉黑状态 -->
        <!-- test可以判断字段 -->
        <if test="userId!=0">
            and user_id =#{userId}<!-- 这里的and其实是where里面的and，还在表示筛选，userId不为0的时候是表示某个用户的所有帖子 -->
        </if>
        <!--  排序：type=1表示置顶帖子, 最新创建的排到前面      -->
        order by type desc,create_time desc
        <!--   分页查询  offset = (current - 1) * limit  即 当前页的起始行 = (当前页-1)*每页显示上限记录数  -->
        limit #{offset},#{limit}
    </select>


    <!--  查询有多少条帖子(未拉黑)  -->
    <select id="selectDiscussPostRows" resultType="int">
        select count(id)
        from discuss_post
        where status != 2
        <if test="userId!=0">
            and user_id = #{userId}
        </if>
    </select>
</mapper>